<div class="bg-success text-white text-center p-5">
    <h1>About</h1>
    <br>
    <br>
      <a [routerLink]="['./html']" class="btn btn-warning btn-lg">HTML</a>
      <br>
      <br>
      <a [routerLink]="['./css']" class="btn btn-danger btn-lg">CSS</a>
      <br><br>
      <a [routerLink]="['./bootstrap']"class="btn btn-primary btn-lg">BOOTSTRAP</a>
      <br><br>


    <br>
    <br>
    <p>यह कोई जरूरी नहीं कि हर वक्त इंसान के साथ कोई न कोई रहे लेकिन उसका भावनात्मक नजरिया हमेशा उसके साथ रहता है ऐसे में अगर उसने मन को धार्मिक व नैतिक संस्कारों से
        
        संस्कारित नहीं किया तो उसे हर वक्त अशुभ नकारात्मक (मोह- राग-द्वेष) भावनाओं के साथ रहना होगा। यह कोई जरूरी नहीं कि हर वक्त इंसान के साथ कोई न कोई रहे लेकिन उसका भावनात्मक नजरिया हमेशा उसके साथ रहता है ऐसे में अगर उसने मन को धार्मिक व नैतिक संस्कारों से 
        संस्कारित नहीं किया तो उसे हर वक्त अशुभ नकारात्मक (मोह- राग-द्वेष) भावनाओं के साथ रहना होगा।
     </p>
     <br>
     <br>
     <img src="assets/img/1.png" style="height: 500px; width: 100%;">
</div>
